 * {
  font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
 }
.heroo {
    background-color:#ff5100;
    padding: 100px 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.heroo-content {
    position: relative;
    z-index: 2;
   
}

.heroo h1 {
    font-size: 48px;
    color:#ffffff;       
    margin: 0;
}

.heroo p {
    font-size: 18px;
    color: #ffffff;
    margin: 10px 0 0 0;
}
.subscription-plans {
    padding: 4rem 0;
    text-align:center;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.subscription-plans h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.subscription-plans .plans {
   
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.subscription-plans .plan {
    background: #fff;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.subscription-plans .plan:hover {
    transform: scale(1.05);

}

.subscription-plans .plan h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.subscription-plans .plan .price {
    font-size: 1.5em;
    background: linear-gradient(to right,#ff5100,#67db6d);
    -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-size:30px;
    margin: 10px 0;
}

.subscription-plans .plan ul {
    list-style: disc inside;
    padding: 0;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 30px;
}

.subscription-plans .plan ul li {
    margin-bottom: 0.5rem;
    content: '✔';
}

/* .subscription-plans .plan .cta-btn {
    background: #051d3d;
   
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
} */


.button-plan
{
    background-color: #67db6d;
}
.button-plan1
{
    background-color: #67db6d;
}
.button-plan2
{
    background-color: #67db6d;
}
.button-plan3
{
    background-color: #67db6d;
}
.button-plan:hover
{
     transform: scale(1.1);
     background-color: #67db6d;
    }
    .button-plan1:hover
    {
    transform: scale(1.1);
    background-color: #67db6d;
}
.button-plan2:hover
{
    transform: scale(1.1);
    background-color: #67db6d;
}
.button-plan3:hover
{
    transform: scale(1.1);
    background-color: #67db6d;
}

.button1{
     padding-top: 80px;
     
    }
    .button2{
        
        padding-top: 80px;
}
.button3{
    padding-top: 30px;

}