

  
  
  .number{



    margin-left:10px;  
  }
  .mea
  {
    margin-left: 10px;
  }
  .Appp {
    padding: 100px;
    max-width: 800px;
    margin: 0 auto;
    
  }
  
  h1 {
    
    font-size: 2.5em;
    text-align: center;
    
  }
  .label-diet
  {
    color: #000000;
  }
  p {
    text-align: center;
    color:rgb(0, 0, 0);
  }
  
  .diet-selector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
 
    
  
  }
  
  .diet-selector button {
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #efecec;
    color:rgb(9, 8, 8);
  }
  
  .diet-selector button:hover {
    background-color: #efecec;
    color: black
  }
  
  .diet-selector .selected {
    background-color:#67db6d ;
    color: rgb(255, 255, 255);
  }
  
  .calorie-input {
    margin-top: 20px;
    text-align: center;
    color:  WHITE;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
  }
  
  .calorie-input label {
   
    margin: 10px 0;
    
  }
  
  .calorie-input input,
  .calorie-input select {
    width: 100px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .generate-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color:#67db6d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
  }
  
  .generate-button:hover {
    transform: scale(1.1);
    background-color:#67db6d;
  }
  
  .meal-plan {
    text-align: center;
    margin-top: 30px;
  
  }
  
  .meal-plan h2 {
    font-size: 2em;
    margin-bottom: 20px;
    
  }
  
  .meal-plan ul {
    list-style-type: none;
    padding: 0;
  }
  
  .meal-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
    position: relative;
  
  }
  .sugan
  {
    background-color: #efecec;
  }
  .meal-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLRcptbWtktpIFmJ9YLfSs2O366T7XmcTBdA&s");
   object-fit: cover;
   background-position: center;
    
  }
  
  
  .meal-details {
    max-width: 600px;
    text-align: left;
    align-self: flex-end; 
  
  }
  
  .meal-details h3 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .meal-details p {
    margin: 5px 0;
  }
  
  .reci-button {
    padding: 8px 12px;
    margin-top: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
     background-color:#67db6d;;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reci-button:hover {
    transform: scale(1.1);
    background-color:#67db6d;

    color:white
  }
  
  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .modal p {
    font-size: 1.2em;
    color: #ffffff;
  }